@{
    Layout = null;
}

<html lang="en" ng-app="markTheWorld">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/0.12.0-rc1/angular-material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
    @Styles.Render("~/Content/css")
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="initial-scale=1"/>
    <title>Mark The World - visit planet Earth and leave your mark!</title>
</head>
<body layout="column" ng-controller="AppCtrl" ng-cloak>
<md-content style="overflow: hidden">
    <md-toolbar class="md-primary">
        <div class="md-toolbar-tools">
            <h3 class="ng-binding">Mark The Planet</h3>
            <span flex=""></span>
            <md-menu>
                <md-button aria-label="Account" class="md-icon-button" ng-click="openMenu($mdOpenMenu, $event)">
                    <md-icon md-svg-src="~/Content/img/icons/ic_account_box_white_48px.svg" class="s48" aria-label="Account"></md-icon>
                </md-button>
                <md-menu-content width="4">

                    <md-menu-item ng-show="!isLogged()">
                        <md-button ng-click="toggleRight('login')">
                            Login
                        </md-button>
                    </md-menu-item>
                    <md-menu-item ng-show="!isLogged()">
                        <md-button ng-click="toggleRight('register')">
                            Register
                        </md-button>
                    </md-menu-item>

                    <md-menu-item ng-show="isLogged()">
                        <p>Logged as: {{getLoggedUser()}}</p>
                    </md-menu-item>
                    <md-menu-divider ng-show="isLogged()"></md-menu-divider>
                    <md-menu-item ng-show="isLogged()">
                        <md-button ng-click="logout()">
                            Logout
                        </md-button>
                    </md-menu-item>

                </md-menu-content>
            </md-menu>

            <md-menu>
                <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="openMenu($mdOpenMenu, $event)">
                    <md-icon md-svg-src="~/Content/img/icons/ic_more_vert_white_48px.svg" class="s48" aria-label="Account"></md-icon>
                </md-button>
                <md-menu-content width="4">
                    <md-menu-item>
                        <md-button ng-click="topMarkers($event)">
                            <md-icon md-svg-src="~/Content/img/icons/ic_people_black_48px.svg" class="s24" md-menu-align-target></md-icon>
                            Top Markers
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
    </md-toolbar>
    <div id="toastBounds" layout-fill layout="row" layout-padding style="min-height: calc(100% - 80px);">
        <game-map id="map"></game-map>
    </div>
    <md-button ng-show="isLogged()" class="settings-fab md-fab md-fab-bottom-right" aria-label="Map settings" ng-click="mapSettings($event)">
        <md-icon md-svg-src="~/Content/img/icons/ic_settings_black_48px.svg" class="s32" aria-label="Map settings" style="color: white;"></md-icon>
    </md-button>
    <md-button ng-show="isLogged()" class="md-fab md-fab-bottom-right" aria-label="Mark your spot" ng-click="addNewSquare($event)">
        <md-icon md-svg-src="~/Content/img/icons/ic_add_location_black_48px.svg" class="s32" aria-label="Mark your spot" style="color: white;"></md-icon>
    </md-button>

    <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right">
        <div ng-controller="SidebarCtrl">
            <div ui-view>
                <a ng-click="go('login')">Click here</a>
            </div>
        </div>
    </md-sidenav>
</md-content>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui/0.4.0/angular-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/0.12.0-rc1/angular-material.min.js"></script>
@Scripts.Render("~/bundles/app")
</body>
</html>