<md-toolbar ng-click="vm.close()" class="md-primary">
    <h1 class="md-toolbar-tools">Login</h1>
</md-toolbar>
<md-content class="login-form" layout-padding layout="column">
    <form ng-submit="vm.login(loginForm, loginData)" name="loginForm" novalidate>
        <md-input-container class="md-block">
            <label for="login_username">Username</label>
            <input required minlength="3" maxlength="25" type="text" id="login_username" name="login_username" ng-model="loginData.username" md-autofocus>
            <div ng-messages="loginForm.login_username.$error">
                <div ng-message-exp="['required', 'minlength']">The username should be at least 3 characters long</div>
                <div ng-message="maxlength">The username should be shorter</div>
            </div>
        </md-input-container>
        <md-input-container class="md-block">
            <label for="login_password">Password</label>
            <input required minlength="6" maxlength="30" type="password" name="login_password" id="login_password" ng-model="loginData.password">
            <div ng-messages="loginForm.login_password.$error">
                <div ng-message-exp="['required', 'minlength']">The password should be at least 6 characters long</div>
                <div ng-message="maxlength">The password should be shorter</div>
            </div>
        </md-input-container>
        <md-button ng-disabled="vm.requesting" type="submit" layout-fill class="md-raised md-primary">
            Login
            <md-progress-circular ng-show="vm.requesting" md-mode="indeterminate" class="md-hue-2" md-diameter="42px"></md-progress-circular>
        </md-button>
        <div ng-show="vm.requestError" class="panel-error">
            <md-icon md-svg-src="~/../Content/img/icons/ic_info_outline.svg" class="s32" aria-label="Error"></md-icon>
            <div class="panel-error-text">{{ vm.requestError }}</div>
        </div>
    </form>
    <p>
        <a ng-click="vm.switchPanel({ newAction: 'register' })">Don't have an account? Register here.</a>
    </p>
    </form>
</md-content>