<md-dialog class="responsive" ng-cloak>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Top Markers</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon md-svg-src="~/../Content/img/icons/ic_clear_white_48px.svg" class="s48" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <md-content class="md-padding" layout="column">
            <md-card ng-repeat="marker in toplist">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">#{{($index + 1)}} {{ marker.name }}</span>
                        <span class="md-subhead">Total {{ marker.numberOfMarks }} marked spots</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button ng-click="userMap(marker.name)" class="button-user-map md-raised md-primary">User's map</md-button>
                </md-card-actions>
            </md-card>
        </md-content>
    </md-dialog-content>
</md-dialog>