<md-dialog class="dialog-my-profile dialog-my-profile-color">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>My Color</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="vm.cancel()" aria-label="Close dialog" title="Close dialog">
                <md-icon md-svg-src="~/../Content/img/icons/ic_clear_white_48px.svg" class="s32"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content flex>
        <div layout layout-padding>
            <div flex="nogrow" layout layout-align="start center">
                <span>Current color:</span>
            </div>
            <div ng-attr-style="background: rgb({{vm.color.red}},{{vm.color.green}},{{vm.color.blue}})"
                 class="user-color"></div>
        </div>
        <md-divider></md-divider>
        <profile-color-container color="vm.color"></profile-color-container>
    </md-dialog-content>
    <md-dialog-actions>
        <md-button ng-click="vm.cancel()" class="md-secondary">Cancel</md-button>
        <md-button ng-disabled="vm.requesting" ng-click="vm.saveColor()" class="md-secondary">Save</md-button>
    </md-dialog-actions>
</md-dialog>