<md-dialog>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Map Settings</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="~/../Content/img/icons/ic_clear_white_48px.svg" class="s48" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <md-radio-group ng-model="selection">
                    <md-radio-button class="radio-box-first" value="all">All marked spots</md-radio-button>
                    <md-radio-button value="own">Only my marked spots</md-radio-button>
                    <md-radio-button class="radio-box-last" value="user">Only user spots</md-radio-button>
                </md-radio-group>

                <md-input-container>
                    <label>Enter username</label>
                    <input ng-model="username">
                </md-input-container>

                <md-button ng-click="confirm()" class="button-login md-raised md-primary">Save</md-button>
            </div>
        </md-dialog-content>
</md-dialog>