/*Removes button focus*/
button.md-default-theme:not([disabled]).md-focused {
    background-color: transparent !important;
}
/*Removes button focus*/
.md-icon-button.md-button.md-ink-ripple.md-focused {
    background-color: transparent !important;
}

/*FireFox fix*/
@-moz-document url-prefix() {
    md-content {
        width: 100%;
        height: 100%;
    }
}

#toastBounds {
    position: relative;    
}

md-toast {
    padding-right: 0;
}

md-toast md-icon {
    color: rgb(250,250,250);
}

/*On narrow screen wider bottom border appears*/
@media only screen and (max-width: 600px) and (min-width: 0) and (orientation: portrait) {
    md-toolbar {
        min-height: 64px;
    }
}

/*Make dialogs responsive*/
md-dialog.responsive {
    min-width: 40%;
}

@media only screen and (max-width: 600px) and (min-width: 0) {
    md-dialog.responsive {
        min-width: 100%;
        min-height: 100%;
    }
}

md-fab.md-fab-bottom-right.md-button.md-ink-ripple.md-focused {
    background-color: transparent !important;
}

.material-icons.md-36 {
    font-size: 36px;
}

.s48 {
    width: 48px;
    height: 48px;
}

.s24 {
    width: 24px;
    height: 24px;
}

.s32 {
    width: 32px;
    height: 32px;
}

form {
    margin-bottom: 0;
}

.button-login {
    min-width: 100%;
    margin: 0;
    height: 42px
}

md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar) {
    background-color: rgb(98, 98, 98);
}

/*a.md-button.md-default-theme.md-primary.md-raised {*/
    /*background-color: rgb(58, 58, 58);*/
/*}*/

md-fab-speed-dial {
    position: absolute;
    right: 20px;
    bottom: 30px;
}

.no-account {
    display: block;
    text-align: center;
    padding-top: 10px;
}

.no-account a {
    cursor: pointer;
}

.no-account a:hover {
    color: #3F51B5;
}

.md-dialog-full-page {
    min-height: 100%;
    min-width: 100%;
    top: 0;
    left: 0;
    position: absolute;
}

.md-dialog-full-page .md-dialog-content {
    padding-top: 0;
}

md-icon svg {
  fill: inherit;
}

md-switch {
    margin-top: 0;
    width: 265px;
}

md-card-title {
    margin: 16px;
}

md-card-title .md-headline {
    display: block;
}

.button-user-map {
    margin-right: 16px;
    margin-bottom: 16px;
    padding: 0 10px;
}

md-subhead {
    display: block;
}

.md-date-subhead {
    display: block;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: .01em;
    line-height: 24px;
}

.settings-fab.md-button.md-fab.md-fab-bottom-right {
    right: 110px;
    background-color: #757575;
}

.radio-box-first { 
    margin-top: 0;
}

.radio-box-last-bigger-bottom {
    margin-bottom: 23px;
}

.radio-box-last-no-bottom {
    margin-bottom: 0;
}

.no-top-margin {
    margin-top: 0;
}