body {
    overflow: hidden;
}

/* icon sizes */

.s48 {
    width: 48px;
    height: 48px;
}

.s32 {
    width: 32px;
    height: 32px;
}

.s36 {
    width: 36px;
    height: 36px;
}

/* icon buttons */

.md-button.md-icon-button {
    width: auto;
    height: auto;
}

md-dialog .md-button.md-icon-button {
    padding: 0;
}

.md-toolbar-tools .md-button.md-icon-button {
    padding: 0;
    margin: 0 4px;
}

/* fab buttons */

.md-button.md-fab {
    background-color: #757575;
}

.md-button.md-fab.md-fab-settings {
    right: 110px;
}

/* login form */

md-progress-linear.register-form-loader {
    position: absolute;
}

.login-form form {
    padding: 0;
}

.login-form md-input-container label:not(.md-no-float):not(.md-container-ignore) {
    -webkit-transform: translate3d(0,32px,0) scale(1);
    transform: translate3d(0,32px,0) scale(1);
}

.login-form md-input-container.md-input-has-value label:not(.md-no-float) {
    -webkit-transform: translate3d(0,6px,0) scale(.75);
    transform: translate3d(0,6px,0) scale(.75);
}

.login-form md-input-container.md-input-focused label:not(.md-no-float) {
    -webkit-transform: translate3d(0,6px,0) scale(.75);
    transform: translate3d(0,6px,0) scale(.75);
}

.login-form a {
    cursor: pointer;
}

.login-form input {
    height: 40px;
    line-height: 40px;
    font-size: 20px;
}

.login-form md-select {
    height: 40px;
}

.login-form md-select md-select-value span:first-child {
    font-size: 16.5px;
}

.login-form md-select md-select-value span:first-child div {
    font-size: 20px;
    line-height: 40px;
}

.login-form md-input-container {
    margin-bottom: 0;
}

.login-form md-input-container:last-of-type {
    margin-bottom: 16px;
}

.login-form button {
    height: 42px;
    margin: 8px 0 0;
}

md-input-container.md-input-invalid md-select .md-select-value {
    border-bottom-color: rgb(221,44,0);
}

.login-form md-progress-circular {
    position: absolute;
    top: 0;
    right: 0;
}

.login-form .errors {
    position: relative;
    clear: left;
}

.login-form .errors .error {
    color: rgb(221,44,0);
    font-size: 12px;
    line-height: 14px;
    overflow: hidden;
    transition: all .3s cubic-bezier(.55,0,.55,.2);
    padding-top: 5px;
}

.login-form .panel-error {
    position: relative;
    width: 100%;
    background: rgb(255,204,188);
    color: #3E2723;
    margin: 0;
    height: 42px;
    line-height: 42px;
    border-radius: 3px;
    font-weight: 500;
    font-size: 14px;
    opacity: 1;
    white-space: nowrap;
}

.login-form .panel-error md-icon {
    position: absolute;
    height: 32px;
    top: 50%;
    transform: translateY(-50%);
    left: 6px;
    width: 32px;
    color: rgb(255,87,34);
}

.login-form .panel-error .panel-error-text {
    padding-left: 44px;
    text-align: left;
    overflow: hidden;
}

.login-form .panel-error.ng-hide-add, .login-form .panel-error.ng-hide-remove {
  transition: opacity linear 0.5s;
}

.login-form .panel-error.ng-hide {
  opacity: 0;
}