body {
    overflow: hidden;
}

/* icon sizes */

.s48 {
    width: 48px;
    height: 48px;
}

.s36 {
    width: 36px;
    height: 36px;
}

.s32 {
    width: 32px;
    height: 32px;
}

.s24 {
    width: 24px;
    height: 24px;
}

/* toast */

md-toast.custom-toast .md-toast-content {
    padding-right: 0;
}

md-toast.custom-toast .md-button.md-icon-button {
    margin-right: 3px;
}

/* icon buttons */

.md-button.md-icon-button {
    width: auto;
    height: auto;
}

md-dialog .md-button.md-icon-button {
    padding: 0;
}

.md-toolbar-tools .md-button.md-icon-button {
    padding: 0;
    margin: 0 4px;
}

/* buttons */

.md-button.md-fab {
    background-color: #757575;
}

.md-button.md-fab.md-fab-settings {
    right: 110px;
}

.md-button.md-secondary {
    border: 1px solid rgba(158,158,158,0.2);
}

.md-button.md-secondary:hover {
    border: 1px solid initial;
}

/* dialogs */

md-dialog .md-toolbar-tools {
    padding-right: 8px;
}

md-dialog .md-subheader {
    padding: 0;
    background-color: rgb(245,245,245);
}

/* my profile dialog */
@media (min-width: 960px) {
    md-dialog.dialog-my-profile {
        min-width: 450px;
    }
}

md-dialog.dialog-my-profile .user-avatar {
    padding: 8px 0 8px;
    margin-right: 8px;
}

md-dialog.dialog-my-profile .user-avatar img {
    border-radius: 50%;
    margin: 0 16px 0;
}

md-dialog.dialog-my-profile .user-avatar p {
    font-size: 12px;
    text-align: center;
    margin: 3px 0 0 0;
}

md-dialog.dialog-my-profile .user-color {
    border-radius: 3px;
    width: 28px;
    height: 28px;
    margin-left: 2px;
    margin-right: 10px;
}

md-dialog.dialog-my-profile .md-list-item-user-password md-icon, md-dialog.dialog-my-profile .md-list-item-reward md-icon {
    margin: 0 8px 0 0;
    color: #757575;
    width: 32px;
}

md-dialog.dialog-my-profile .profile-main-info h3 {
    margin: 0;
}

md-dialog.dialog-my-profile .row-title {
    text-align: right;
    padding: 0 8px 0 0;
}

md-dialog.dialog-my-profile table {
    border-spacing: 0 2px;
}

/* login/register dialog */

md-progress-linear.register-form-loader {
    position: absolute;
}

.login-form form {
    padding: 0;
}

.login-form md-input-container label:not(.md-no-float):not(.md-container-ignore) {
    -webkit-transform: translate3d(0,32px,0) scale(1);
    transform: translate3d(0,32px,0) scale(1);
}

.login-form md-input-container.md-input-has-value label:not(.md-no-float) {
    -webkit-transform: translate3d(0,6px,0) scale(.75);
    transform: translate3d(0,6px,0) scale(.75);
}

.login-form md-input-container.md-input-focused label:not(.md-no-float) {
    -webkit-transform: translate3d(0,6px,0) scale(.75);
    transform: translate3d(0,6px,0) scale(.75);
}

.login-form a {
    cursor: pointer;
}

.login-form input {
    height: 40px;
    line-height: 40px;
    font-size: 20px;
}

.login-form md-select {
    height: 40px;
}

.login-form md-select md-select-value span:first-child {
    font-size: 16.5px;
}

.login-form md-select md-select-value span:first-child div {
    font-size: 20px;
    line-height: 40px;
}

.login-form md-input-container {
    margin-bottom: 0;
}

.login-form md-input-container:last-of-type {
    margin-bottom: 16px;
}

.login-form button {
    height: 42px;
    margin: 8px 0 0;
}

md-input-container.md-input-invalid md-select .md-select-value {
    border-bottom-color: rgb(221,44,0);
}

.login-form md-progress-circular {
    position: absolute;
    top: 0;
    right: 0;
}

.login-form .errors {
    position: relative;
    clear: left;
}

.login-form .errors .error {
    color: rgb(221,44,0);
    font-size: 12px;
    line-height: 14px;
    overflow: hidden;
    transition: all .3s cubic-bezier(.55,0,.55,.2);
    padding-top: 5px;
}

.login-form .panel-error {
    position: relative;
    width: 100%;
    background: rgb(255,204,188);
    color: #3E2723;
    margin-top: 8px;
    height: 42px;
    line-height: 42px;
    border-radius: 3px;
    font-size: 13px;
    opacity: 1;
    white-space: nowrap;
}

.login-form .panel-error md-icon {
    position: absolute;
    height: 32px;
    top: 50%;
    transform: translateY(-50%);
    left: 6px;
    width: 32px;
    color: #FF5722;
}

.login-form .panel-error .panel-error-text {
    padding-left: 44px;
    text-align: left;
    overflow: hidden;
}

.login-form .panel-error.ng-hide-add, .login-form .panel-error.ng-hide-remove {
  transition: opacity linear 0.3s;
}

.login-form .panel-error.ng-hide {
  opacity: 0;
}

/*----------------------------*/
/*TODO: [cleanUp] maybe will be used for the pending button*/

/*.button-preload {*/
    /*transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1), min-width .4s linear;*/
/*}*/

/*.button-preload:hover {*/
    /*min-width: 90px;*/
/*}*/
/*.button-preload md-progress-circular {*/
    /*position: absolute;*/
    /*right: 0;*/
    /*top: 0;*/
    /*display: none;*/
/*}*/

/*.button-preload:hover md-progress-circular {*/
    /*display: block;*/
/*}*/

/*.button-preload span {*/
    /*position: absolute;*/
    /*transition: transform .4s linear;*/
    /*left: 50%;*/
    /*top: 50%;*/
    /*transform: translateY(-50%) translateX(-50%);*/
/*}*/

/*.button-preload:hover span {*/
    /*transform: translateY(-50%) translateX(-86%);*/
/*}*/