<md-dialog class="dialog-claim-spot">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Claim The Spot</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="vm.cancel()" aria-label="Close dialog" title="Close dialog">
                <md-icon md-svg-src="~/../Content/img/icons/ic_clear_white_48px.svg" class="s32"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content flex layout="column">
        <div>
            <div layout layout-align="start center" class="panel-info">
                <md-icon md-svg-src="~/../Content/img/icons/ic_add_location.svg" class="s32"></md-icon>
                <p>You are about to be the first to claim this spot!</p>
            </div>
            <div layout layout-align="center center">
                <md-button ng-click="vm.claim()" class="md-raised md-primary button-claim">
                    Claim Now
                </md-button>
            </div>

            <md-subheader>Optional details</md-subheader>
            <md-divider></md-divider>

            <div layout-padding>
                <div>
                    <md-input-container flex class="md-block">
                        <label>Message</label>
                        <input md-maxlength="150" name="message" ng-model="vm.message">
                    </md-input-container>
                </div>

                <div ng-hide="vm.file" layout layout-align="center center">
                    <md-button ngf-select ng-model="vm.file" class="md-fab md-primary button-add-picture"
                               aria-label="Mark your spot">
                        <md-tooltip md-direction="top">
                            Take a picture at the spot!
                        </md-tooltip>
                        <md-icon md-svg-src="~/../Content/img/icons/ic_add_a_photo.svg"
                                 aria-label="Mark your spot"></md-icon>
                    </md-button>
                </div>
                <div layout layout-align="center center" style="padding: 8px 16px;">
                    <div ng-if="vm.file" style="position: relative;" class="image-container">
                        <md-button class="md-fab md-mini md-primary" style="position: absolute;
left: -24px;
    top: -24px;" class="md-icon-button" aria-label="Cancel picture">
                            <md-icon ng-click="vm.cancelImageUpload()" md-svg-src="~/../Content/img/icons/ic_cancel.svg"
                                    ></md-icon>
                        </md-button>
                        <img style="    max-width: 250px;
    max-height: 250px;width: 100%;
    height: auto;
    border: 1px solid #828282;" ngf-src="vm.file" alt=""/>
                    </div>
                </div>


                <!--<div ngf-background="file" style="height: 200px;background-position: center top;-->
                <!--background-repeat: no-repeat;-->
                <!--background-size: cover;-->
                <!--background-origin: content-box;">-->
                <!--</div>-->
            </div>
        </div>
    </md-dialog-content>
    <md-dialog-actions>
        <md-button ng-click="vm.cancel()" class="md-secondary">Cancel</md-button>
        <md-button ng-click="vm.claim()" class="md-secondary">Claim</md-button>
    </md-dialog-actions>
</md-dialog>