<md-dialog class="dialog-claim-spot">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Claim The Spot</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="vm.cancel()" aria-label="Close dialog" title="Close dialog">
                <md-icon md-svg-src="~/../Content/img/icons/ic_clear_white_48px.svg" class="s32"></md-icon>
            </md-button>
        </div>
        <md-progress-linear class="register-form-loader md-warn" ng-show="vm.pending" md-mode="indeterminate"></md-progress-linear>
    </md-toolbar>
    <md-dialog-content flex-sm flex-xs layout="column">
        <div>
            <div layout layout-align="start center" class="panel-info">
                <md-icon md-svg-src="~/../Content/img/icons/ic_check_circle.svg" class="s32"
                         aria-label="Info"></md-icon>
                <p>You are about to be the first to claim this spot!</p>
            </div>
            <div layout="column" layout-align="center center" layout-padding>
                <md-button ng-click="vm.claim()" ng-disabled="vm.pending" class="md-raised md-primary button-claim">
                    <md-icon md-svg-src="~/../Content/img/icons/ic_add_location.svg"></md-icon>
                    Claim
                </md-button>
                <div ng-if="vm.claimError" class="panel-error error-claim">
                    <md-icon md-svg-src="~/../Content/img/icons/ic_info_outline.svg" class="s32"
                             aria-label="Error"></md-icon>
                    <div class="panel-error-text">{{ vm.claimError }}</div>
                </div>
            </div>

            <md-subheader>Optional details</md-subheader>
            <md-divider></md-divider>

            <div layout-padding>
                <div>
                    <md-input-container flex class="md-block">
                        <label>Message</label>
                        <input md-maxlength="150" name="message" ng-model="vm.message">
                    </md-input-container>
                </div>

                <form name="vm.pictureUploadForm" novalidate ng-hide="vm.file" layout="column" layout-align="center center">
                    <md-button class="md-fab md-primary button-add-picture" ngf-select="vm.handleSelectedFile(vm.pictureUploadForm.file)" ng-model="vm.file" name="file"
                               ngf-capture="'camera'"
                               ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-width="100" ngf-min-height="100" aria-label="Mark your spot">
                        <md-tooltip md-direction="top">
                            Take a picture at the spot!
                        </md-tooltip>
                        <md-icon md-svg-src="~/../Content/img/icons/ic_add_a_photo.svg"
                                 aria-label="Mark your spot"></md-icon>
                    </md-button>
                    <div ng-if="vm.fileError" class="panel-error error-file">
                        <md-icon md-svg-src="~/../Content/img/icons/ic_info_outline.svg" class="s32"
                                 aria-label="Error"></md-icon>
                        <div class="panel-error-text">{{ vm.fileError }}</div>
                    </div>
                </form>
                <div ng-if="vm.file" layout layout-align="center center" class="file-preview">
                    <div>
                        <md-button class="md-fab md-mini md-primary" class="md-icon-button" aria-label="Cancel picture">
                            <md-icon ng-click="vm.cancelImageUpload()"
                                     md-svg-src="~/../Content/img/icons/ic_cancel.svg"></md-icon>
                        </md-button>
                        <img ngf-src="vm.file" alt="Spot picture"/>
                    </div>
                </div>
            </div>
        </div>
    </md-dialog-content>
    <md-dialog-actions>
        <md-button ng-click="vm.cancel()" class="md-secondary">Cancel</md-button>
        <md-button ng-click="vm.claim()" ng-disabled="vm.pending" class="md-secondary">Claim</md-button>
    </md-dialog-actions>
</md-dialog>