<md-dialog class="md-dialog-full-page" ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Mark a square</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="~/../Content/img/icons/ic_clear_white_48px.svg" class="s48" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <h2>You are about to mark a square!</h2>
                <p>
                    Please leave the message for the current square.
                </p>
                <form>
                    <md-input-container>
                        <label for="message">Message</label>
                        <input type="text" id="message" ng-model="message" md-autofocus="">
                    </md-input-container>
                </form>
                <md-button ng-click="confirm()" class="button-login md-raised md-primary">Mark!</md-button>
            </div>
        </md-dialog-content>
</md-dialog>