<md-dialog class="md-dialog-full-page" ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Top Markers</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="~/../Content/img/icons/ic_clear_white_48px.svg" class="s48" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <md-content class="md-padding" layout="column">
                    <md-card>
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">#1 Andrius</span>
                                <span class="md-subhead">Total 24 marked spots</span>
                            </md-card-title-text>
                        </md-card-title>
                        <md-card-actions layout="row" layout-align="end center">
                            <md-button ng-click="confirm(message)" class="button-user-map md-raised md-primary">User's map</md-button>
                        </md-card-actions>
                    </md-card>
                    <md-card>
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">#2 Andrius</span>
                                <span class="md-subhead">Total 24 marked spots</span>
                            </md-card-title-text>
                        </md-card-title>
                        <md-card-actions layout="row" layout-align="end center">
                            <md-button ng-click="confirm(message)" class="button-user-map md-raised md-primary">User's map</md-button>
                        </md-card-actions>
                    </md-card>
                    <md-card>
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">#3 Andrius</span>
                                <span class="md-subhead">Total 24 marked spots</span>
                            </md-card-title-text>
                        </md-card-title>
                        <md-card-actions layout="row" layout-align="end center">
                            <md-button ng-click="confirm(message)" class="button-user-map md-raised md-primary">User's map</md-button>
                        </md-card-actions>
                    </md-card>
            </md-content>
        </md-dialog-content>
</md-dialog>