<md-dialog style="height: 500px" class="dialog-my-profile">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>My Profile Picture</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="vm.cancel()" aria-label="Close dialog" title="Close dialog">
                <md-icon md-svg-src="~/../Content/img/icons/ic_clear_white_48px.svg" class="s32"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content layout="column" flex>
        <md-list>
            <md-list-item>
                <p>Selected file: {{ vm.file.name }}</p>
                <md-button class="md-secondary" ngf-select ng-model="vm.file" name="file" ngf-capture="'camera'" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-width="100" ngf-min-height="100">Browse</md-button>
            </md-list-item>
        </md-list>
        <div flex layout="column">
            <img-crop image="vm.file | ngfDataUrl" area-min-size="100" result-image="vm.croppedFileUrl"></img-crop>
        </div>
    </md-dialog-content>
    <md-dialog-actions>
        <md-button ng-click="vm.cancel()" class="md-secondary">Cancel</md-button>
        <form style="margin: 0;" name="form">
            <md-button ng-disabled="vm.requesting" ng-click="vm.submit(vm.croppedFileUrl)" class="md-secondary">Save</md-button>
        </form>
    </md-dialog-actions>
</md-dialog>